name: CI

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths:
      - '.github/workflows/ci.yml'
      - 'package_control/**/*.py'
  workflow_dispatch:

jobs:
  cancel-previous-runs:
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.13.0

  test-all:
    needs: cancel-previous-runs
    name: UnitTests on ST${{ matrix.st-version }} ${{ matrix.os }} ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        arch:
          - x64
        st-version:
          - 3
          - 4
    steps:
      - uses: actions/checkout@v6
      - uses: SublimeText/UnitTesting/actions/setup@v1
        with:
          package-name: Package Control
          sublime-text-version: ${{ matrix.st-version }}
      - uses: SublimeText/UnitTesting/actions/run-tests@v1
        with:
          package-name: Package Control
        env:
          GH_PASS: ${{ secrets.GH_PASS }}
          GL_PASS: ${{ secrets.GL_PASS }}
          BB_PASS: ${{ secrets.BB_PASS }}

  lint:
    needs: cancel-previous-runs
    name: Check Code Style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: pip install -U flake8
      - name: Run linter
        run: flake8
